.card{
    display: flex;
    background-color: #c5c5c521;
    padding: 1rem;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    max-height: 2rem;
}

.cardText{
    color: white;
    font-size: 32px;
}