.container{
    width: 100%;
    height: 100%;
    background-color: var(--blackBackground);
    display: grid;
    grid-template-rows: .1fr .05fr .85fr;
}

.headTitleDiv{
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}
.exportDiv{
    grid-row: 2;
    width: 100%;
    height: 100%;
    padding-left: 5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.exportButton{
    background-color: var(--primaryDark);
    padding: .5rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: .3s;
}
.exportButton:hover{
    background-color: var(--primaryLight);
    transition: .3s;
}
.contentDiv{
    grid-row: 3;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}